<div class="container-fluid d-flex align-items-stretch h-100">
    <div class="row w-100 no-gutters">
        <div class="col-sm-12 col-md-9 col-lg-9 px-0 pr-md-4">
            <div class="row no-gutters introduction d-flex align-items-center">
                <article class="col px-0">
                    <h3 class="text-muted text-center text-md-left mt-4">Tell Us About Yourself</h3>
                    <p class="h4 font-weight-light mt-3 d-flex justify-content-xs-center px-2">Thanks for choosing TD Insurance! In order to safely set up your new accounts and services, please tell
                        us about yourself.</p>
                </article>
            </div>
            <form class="row no-gutters form-container d-flex align-items-center">
                <h3 class="text-center text-md-left text-muted w-100">Personal Information</h3>
                <div class="row no-gutters w-100">
                    <div class="col-lg-2 col-md-2 col-sm-12 pt-5 px-md-3">
                        <select class="form-control">
                            <option value="">Title*</option>
                            <option value="student">Student</option>
                            <option value="employee">Employee</option>
                            <option value="manager">Manager</option>
                            <option value="bussinessowner">Bussiness Owner</option>
                            <option value="other">other</option>
                        </select>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-12 pt-5 px-md-3">
                        <input class="form-control" placeholder="First Name*">
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-12 pt-5 px-md-3">
                        <input class="form-control" placeholder="Middle Initial">
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 pt-5 px-md-3">
                        <input class="form-control" placeholder="Last Name*">
                    </div>
                </div>
                <div class="row no-gutters w-100">
                    <div class="col-lg-5 col-md-5 col-sm-12 pt-5 px-md-3 input-group">
                        <input class="form-control" placeholder="Email address*">
                        <div class="input-group-append">
                            <button class="question-mark-btn h4"><i class="fa fa-question-circle-o pt-2"></i></button>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-12 pt-5 px-md-3">
                        <input class="form-control" placeholder="Date of Birth*">
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 pt-5 px-md-3 input-group">
                        <input class="form-control" placeholder="Social Insurance Number*">
                        <div class="input-group-append">
                            <button class="question-mark-btn h4"><i class="fa fa-question-circle-o pt-2"></i></button>
                        </div>
                    </div>
                </div>
                <div class="row no-gutters pt-5 w-100">
                    <!--  -->
                    <div class="offset-sm-6 offset-lg-8 col-xs-3 col-sm-2 pr-1 mt-2">
                        <button class="form-control btn-danger btn-width pt-2">Cancel</button>
                    </div>
                    <div class="col-xs-3 col-sm-2 pr-1 mt-2">
                        <button class="form-control btn-success btn-width pt-2">Submit</button>
                    </div>
                </div>
            </form>
            <!-- </div> -->
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 apply-container d-flex w-100 px-0 pl-md-4">
            <article class="w-100">
                <h4 class="w-100 ml-0 mt-5">Your are applying for:</h4>
                <p class="text-center text-md-left w-100 ml-0 mt-5 h4 text-muted">TD &reg; Travel Medical Insurance</p>
                <button class="w-100 form-control btn-success ml-0 mt-5 pt-2">See More Coverage Options</button>
            </article>
        </div>
    </div>
</div>