<nav class="navbar navbar-dark navbar-expand-md nav-container justify-content-start">
    <button class="navbar-toggler navbar-toggler-left" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand mr-auto" href="#">
        <img src="../assets/TDAssurance_EN.svg" class="brand" alt="">
    </a>
    <div class="collapse navbar-collapse " id="navbarToggler">
        <ul class="navbar-nav mr-auto mt-2">
            <li class="nav-item mx-2">
                <a class="nav-link white-text" routerLink="">Products</a>
            </li>
            <li class="nav-item mx-2">
                <a class="nav-link white-text" routerLink="">Claims</a>
            </li>
            <li class="nav-item mx-2">
                <a class="nav-link white-text" routerLink="">Contact Us</a>
            </li>
        </ul>
        <ul class="navbar-nav d-flex align-items-stretch">
            <li class="nav-item dropdown mx-2">
                <a class="nav-link dropdown-toggle" href="#" id="dropdown-pvc" role="button" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                    Ontario
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item text-right" href="#">Manitoba</a>
                    <a class="dropdown-item text-right" href="#">Alberta</a>
                </div>
            </li>
            <li class="nav-item dropdown mx-2">
                <a class="nav-link dropdown-toggle" href="#" id="dropdown-en" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    EN
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item text-right" href="#">FR</a>
                    <a class="dropdown-item text-right" href="#">CH</a>
                </div>
            </li>
            <li class="nav-item dropdown mx-2 d-flex">
                <button class="navbar-btn align-middle" type="button" data-toggle="collapse" data-target="#searchDropdown" aria-controls="navbarToggler"
                    aria-expanded="false" aria-label="Toggle Search">
                    <span class="mx-2 white-text">
                        <i class="fa fa-search"></i>
                    </span>
                </button>
                <div class="dropdown-menu dropdown-menu-right py-0" id="searchDropdown" aria-labelledby="navbarDropdown">
                    <form>
                        <div class="input-group" style="min-width: 200px;">
                            <input class="form-control" id="navbarSearchInput" placeholder="Search">
                            <div class="input-group-append">
                                <button type="submit" id="submitSearch" class="btn btn-outline-secondary bg-btn text-white" type="button">
                                    <i class="fa fa-eye"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </li>
        </ul>
    </div>
    <!-- on clicking login maybe jump to 'login page', no dropdown form for now -->
    <button class="navbar-btn white-text" type="button" data-toggle="collapse" data-target="#search" aria-controls="navbarToggler"
        aria-expanded="false" aria-label="Toggle Search">
        <span class="mx-2 h5">
            <i class="fa fa-lock"></i>
        </span>
        <span class="d-none d-sm-inline">Login</span>
    </button>
</nav>
<router-outlet></router-outlet>
<div class="footer py-5">
    <div class="row footer-row no-gutter mx-auto align-middle py-3">
        <div class="col-xs-12 col-md-8 col-lg-8 px-0">
            <h2 class="text-white text-md-right pr-md-2">Need to talk to us directly?</h2>
        </div>
        <div class="col-xs-12 col-md-4 col-lg-4 px-0">
            <h2><a class="text-green" href="#" onclick="return false">Contact us ></a></h2>
        </div>
    </div>
    <div class="row footer-row footer-nav no-gutter mx-auto py-4">
        <ul class="nav">
            <li class="nav-item px-2">
                <a class="nav-link text-white" href="#" onclick="return false">Privacy and Security</a>
            </li>
            <li class="nav-item px-2">
                <a class="nav-link text-white" href="#" onclick="return false">Legal</a>
            </li>
            <li class="nav-item px-2">
                <a class="nav-link text-white" href="#" onclick="return false">Accessibility</a>
            </li>
            <li class="nav-item px-2">
                <a class="nav-link text-white" href="#" onclick="return false">About Us</a>
            </li>
            <li class="nav-item px-2">
                <a class="nav-link text-white" href="#" onclick="return false">Careers</a>
            </li>
        </ul>
    </div>
    <div class="row no-gutter justify-content-center">

            <div class="rounded-circle h1 text-center m-4">
                <i class="fa fa-facebook"></i>
            </div>


            <div class="rounded-circle h1 text-center m-4">
                <i class="fa fa-twitter"></i>
            </div>


            <div class="rounded-circle h1 text-center m-4">
                <i class="fa fa-youtube-play"></i>
            </div>


            <div class="rounded-circle h1 text-center m-4">
                <i class="fa fa-rss"></i>
            </div>

    </div>