html {
    position: relative;
    min-height: 100%;
    // height: 100%;
    body{
        min-height: 100%;
        background: #f1f1f1;
    }
}

$dark-green:#12422b;
$leaf-green:#008a00;
$danger-red:#b54c00;

$btn-success-bg:$leaf-green;
$btn-danger-bg:$danger-red;

@import '../node_modules/bootstrap/scss/bootstrap';

img{
    vertical-align: middle;
    border:0;
}

.white-text{
    color:white;
}

.text-green{
    color:$leaf-green;
}

.bg-btn{
    background-color:gray;
}

.bg-btn:hover{
    background-color:$leaf-green;
}

//change icon color to white
.navbar-dark .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }

//keeping toggler icon only
.navbar-btn,.navbar-toggler {
    background-color: $dark-green;
    border: 0;
    outline: none!important;
}

//form email & SIN help icon
.question-mark-btn{
    background-color: transparent;
    color:$leaf-green;
    border:0;
    outline: none!important;
}

.btn-success {
    background-color: $leaf-green;
}

.btn-danger {
    background-color: $danger-red;
}

//submit & cancel btn width
.btn-width{
    width: 80px;
}

//change font, seems not working
.light-header{
    font-weight: 100!important;
    font-family: "Webly Sleek SemiLight",Helvetica-,droid sans,sans-serif!important;
}

//auto x margin for center purpose
.container-fluid{
    max-width: 1200px;
    margin:auto;
}

.footer{
    position: absolute;
    width: 100%;
    background-color: $dark-green;
    min-height: 300px;

    a.text-green:hover{
        color:$leaf-green;
    }
}

.footer-row{
    max-width:640px;
}

.footer-nav{
   border-top: 1px solid $leaf-green;
   border-bottom: 1px solid $leaf-green;
}

%height64{
    height: 64px;
    line-height: 60px;
}

div.rounded-circle{
    border: 2px solid $leaf-green;
    width: 64px; 
    @extend %height64;
    &:hover{
        background-color: $leaf-green;
        cursor: pointer;
    }
    i {
       @extend %height64;
       @extend .white-text;  
    }
}

// Only two breakpoints for now, just for demo purpose
@include media-breakpoint-down(xs) { 
    .brand{
        width: 80px;
        height: 30px;
        padding: 3px;
        margin-top: 4px;
    }

    .nav-container{
        min-height:48px;
        background-color: $dark-green;
    }
    
    .introduction{
        min-height: 250px;
        padding:0px 10px 0px 10px;
    }

    .form-container{
        min-height: 560px;
        padding:0px 10px 0px 10px;
    }
    
    .apply-container{
        min-height:200px;
    }
 }

 @include media-breakpoint-up(xs) {
    .brand{
        width: 200px;
        height: 40px;
        padding: 3px;
        margin-top: 4px;
    }

    .nav-container{
        min-height:63px;
        background-color: $dark-green;
    }

    .introduction{
        min-height: 250px;
    }

    .form-container{
        min-height: 360px;
    }

    .apply-container{
        min-height:200px;
    }
 }